:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.p-inputtext, .p-inputwrapper, .p-float-label, .p-password, .p-component {
  width: 100%;
}

.p-password.p-component.p-inputwrapper,
input.p-inputtext.p-component.p-element.p-password-input {
  width: 100%;
}

p-card.p-element {
  width: 500px;
}

.error-message {
  font-size: 12px;
  padding: 10px 0px;
  margin: 0;
  color: #f78c79;
}
